.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.menu-card {
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    text-align: center;
}

.titulo-menu {
    font-size: 3.5rem;
    margin-bottom: 30px;
    font-weight: 800;
}